<% provide(:title, 'About')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  <h1> About </h1>
  <h3> Hey this is about us!</h3>
  <img class="img-thumbnail" src="https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/549585-istock-909106260.jpg?itok=ds7LqH1N&resize=1100x1100">
  </body>
</html>
