<% provide(:title, 'About')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>

  <div class="center jumbotron" id="home-banner">
    <h1>Honest Quotes for Truckers</h1>
    <h2 id="home-text"> What is Honest Quotes?</h2>
  </div>
  <div>
    <h3> An honest systems for truckers and customers to charger each other</h3>
    <p>
      Currently one the major issues in the trucking industry are customer are asking truckers for a service
      and the truckers often do not know how to charge for those services and are unable to charge in a timely manner.
    </p>

    <p>
      Honest quotes simplifies and auotmates this process. All you have to do is choose your starting port location,
      add your destination city and click submit. Honest quotes does the rest.
      It runs a complex drayage algorithm that proviedes reates based on your company's parameters and metrics
      and displays them directly to your browers This solves the need to manually search the requested information,
      provides rates instantly and reduces quoting time by 3-5 minutes per quote request.
    </p>

  </div>

  </body>
</html>
