<% provide(:title, 'Contact')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>

    <div class="center jumbotron" id="home-banner">
      <h1>Contact</h1>
      <h2 id="home-text">Got questions? Contact us.</h2>
    </div>
    <ul>
      <li>
        Email us: DrayAllDay@gmail.com
      </li>
      <li>
        Tweet at us: @Honest-Quotes
      </li>
    </ul>

    <p> Honest Quotes Team </p>
    <ul>
      <li> Allison Colyer: <a href="www.alli.science">www.alli.science</a> </li>
      <li> Jaime Torres: <a href="https://github.com/Uddergrief">https://github.com/Uddergrief</a></li>
    </ul>
  </body>
</html>
