<% provide(:title, 'Contact')%>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
   <div class="center jumbotron" id="home-banner">
    <h1>Contact</h1>
    <h2 id="home-text">Got questions? Contact us.</h2>
  </div>
  <p>
    Email us: drayallday@gmail.com
  </p>
  <p>
    Tweet at us: @honest-quotes
  </p>
  </body>
</html>
