<footer class = "footer">
  <small>
    Honest Quotes &copy; 2018
  </small>

  <small class="float-right">
    Created at <a href="https://www.novvumhacks.com/"> Novvum Hacks </a> by
    <a href="www.alli.science">Allison Colyer </a> and
    <a href="https://github.com/Uddergrief"> Jaime Torres </a>
  </small>
</footer>
