<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to "Honest Quotes", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Calculator", calculator_path %></li>
        <li><%= link_to "View Rates", rates_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
      </ul>
    </nav>
  </div>
</header>